* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.status-bad {
	color : red;
}

.status-ok {
	color : green;
}

.photo {
/*    text-align: center; for centering images inside*/
}

.photo img {
    width: 500px; /*set the width or max-width*/
    height: auto; /*this makes sure to maintain the aspect ratio*/
}

